* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 620px;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: 20%;
  /* background-color: teal; */
  display: flex;
  flex-direction: row;

  /* align-items: center; */
  /* justify-content: center; */
}
.title {
  width: 50%;
  height: 100%;
}

.buttons {
  width: 50%;
  height: 100%;
}
.btn {
  padding: 8px 16px;
  border-radius: 12px;
  font-size: large;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(204, 198, 187);
  color: rgb(44, 128, 207);
  margin-left: 80px;
}

.container {
  width: 90%;
  height: 90%;
  /* background-color: grey; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
  /* margin-top: 5%; */
}
.bg {
  width: 90%;
  height: 40%;
  margin-top: -240px;
  background-image: url("https://html.creativegigstf.com/homy/homy/images/shape/shape_05.svg");
  position: absolute;
}
.card {
  width: 21%;
  height: 80%;
  /* background-color: aqua; */
  position: relative;
  border-radius: 20px;
}
.img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
.card-down {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}
